.App {
  text-align: center;
}

body{
  background-color: #222;
}
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.vector2{
  width: 20vw;
  margin-top: 3rem;
}

.login-container{
  display: flex;
  min-width: max-content;
  min-height: max-content;
  background-color: #222;
  flex-direction: column;
  flex-wrap: wrap;
}
.search-container{
  display: flex;
  justify-content: center;
}
.div-search{
  
  width: 50vw;
}
@media (max-width:600px) {
  .div-search{
    width: 100vw;
  }
  .vector2{
  
  width: 30vw;
  height: 32vh;
  }
  .NavBar-container{
    flex-direction: column;
  }
  .searchLabel-container{
    margin-top:3rem;
  }
}